@model IBS.Core.Models.ClientModel

@{
    ViewBag.Title = "AddClient";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="row col-md-12">
        <h2>
            Add Client
        </h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Division)<br />
                @Html.EditorFor(model => model.Division, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.Division)<span class="hash-redcolor">*</span><br />
                    @Html.DropDownListFor(
                    model => model.Division,
                    new SelectList(Model.Divisions, "Id", "Name"),
                    "-- Please select a division --", new { @class = "ibs-input ibs-border" }
                    )
                    @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input id="btnSave" type="submit" value="Save" class="btn btn-success" />
                <input id="btnCancel" type="submit" value="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Client")';return false;" />
                <input type="button" id="btnAClient" value="Back To Assign Client" onclick="NavigateClient()" class="btn btn-success" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="color:green">
            <div class="form-group">
                @ViewBag.Message
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Clients List", "Index")
    </div>

    <script>

        function NavigateClient() {
            debugger;
            var host = window.location.origin;
            var apiPath = host + "/Commision/AssignClient";
            var isProd = false;
            if (isProd) {
                host = window.location.origin;
                apiPath = host + "/IBS/Commision/AssignClient";
            }

            var carId = $("#ddlCarrier").val();
            var smDate = $("#txtStatementDate option:selected").text()


            var query = window.location.search;
            var policyId = 0;
            var cId = 0;
            var id = 0;
            var poN = 0;

            debugger;
            if (query != undefined && query != "") {
                var searchQuery = query.split('&');
                var queryArray = searchQuery[0].split('=');
                if (queryArray[0].indexOf("polId") != -1) {
                    if (queryArray[1] != "0") {
                        polId = queryArray[1];
                    }
                }
                if (searchQuery.length > 1) {
                    if (searchQuery[1].indexOf("cId") != -1) {
                        var queryArray1 = searchQuery[1].split('=');
                        cId = queryArray1[1];
                    }
                }
                if (searchQuery.length > 2) {
                    if (searchQuery[2].indexOf("id") != -1) {
                        var queryArray1 = searchQuery[2].split('=');
                        id = queryArray1[1];
                    }
                }
                if (searchQuery.length > 3) {
                    if (searchQuery[3].indexOf("poN") != -1) {
                        var queryArray1 = searchQuery[3].split('=');
                        poN = queryArray1[1];
                    }
                }

                window.location.href = apiPath + "?Id=" + id + "&policyNumber=" + poN + "&policyId=" + policyId + "&carId=" + 0 + "&smd=" + "" + "&cId=" + cId;

            }
        }

        $(document).ready(function () {
            $("#btnAClient").hide();
            var query = window.location.search;
            if (query.length > 3) {
                $("#btnAClient").show();
            }
        });
    </script>

}