@model IBS.Core.Models.ClientModel

@{
    ViewBag.Title = "EditClient";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="row col-md-12">
        <h2>
            Edit Client
        </h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name)<span class="hash-redcolor">*</span><br />
                @Html.DropDownListFor(
                model => model.Division,
                new SelectList(Model.Divisions, "Id", "Name"),
                "-- Please select a division --", new { @class = "ibs-input ibs-border" }
                )
                @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input id="btnSave" type="submit" value="Update" class="btn btn-success" />
                <input id="btnCancel" type="submit" value="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Client")';return false;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="color:green">
            <div class="form-group">
                @ViewBag.Message
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Client List", "Index")
    </div>

}



