@model IBS.Core.Models.CarrierModel

@{
    ViewBag.Title = "EditCarrier";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="row col-md-12">
        <h2>
            Edit Partner
        </h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Phone)
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AddressLine1)
                @Html.TextBoxFor(model => model.AddressLine1, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AddressLine2)
                @Html.TextBoxFor(model => model.AddressLine2, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.City)<br />
                @Html.TextBoxFor(model => model.City, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.State)
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ZipCode)<br />
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })<br />
            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control chekcbox-width-18" } })

        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input id="btnSave" type="submit" value="Update" class="btn btn-success" />
                <input id="btnCancel" type="submit" value="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Carriers")';return false;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="color:green">
            <div class="form-group">
                @ViewBag.Message
            </div>
        </div>
    </div>
    @*<div>
        @Html.ActionLink("Back to Carrier List", "Index")
    </div>*@

}