@model IBS.Core.Models.CarrierModel

@{
    ViewBag.Title = "EditCarrier";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="row col-md-12">
        <h2>
            Edit Carrier
        </h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Phone)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Email)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AddressLine1)<span class="hash-redcolor">*</span><br />
                @Html.TextAreaFor(model => model.AddressLine1, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AddressLine2)<span class="hash-redcolor">*</span><br />
                @Html.TextAreaFor(model => model.AddressLine2, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.City)<span class="hash-redcolor">*</span><br />
                @Html.TextBoxFor(model => model.City, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.State)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ZipCode)<span class="hash-redcolor">*</span><br />
                @Html.TextAreaFor(model => model.ZipCode, new { @class = "ibs-input ibs-border", @cols = "100", @rows = "2" })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input id="btnSave" type="submit" value="Update" class="btn btn-success" />
                <input id="btnCancel" type="submit" value="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Carrier")';return false;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="color:green">
            <div class="form-group">
                @ViewBag.Message
            </div>
        </div>
    </div>

}



