@model IEnumerable<IBS.Core.Models.CarrierModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Add Carrier", "AddCarrier")
        </p>
    </div>
    <div class="col-md-6 text-align-right">
        <div id="filterbox">
            Search as carrier name:
            <input type="text" id="txtSearchText" />
            <a id="anchCarrierSearch"><img src="/content/images/search-icon.png" /></a>
        </div>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                S.No
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
    {
        @Html.HiddenFor(modelItem => item.Data.Id)
        <tr>
            <td>
                @( ((Int32)1) + @item.Index )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.AddressLine1)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCarrierDetails", new { id = item.Data.Id }) |
                @Html.ActionLink("Delete", "DeleteCarrier", new { id = item.Data.Id }, new { onclick = "return confirm('Are you sure to delete?');" })
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(document).ready(function () {

        $("#anchCarrierSearch").click(function () {
            var searchKey = $("#txtSearchText").val();
            window.location.href = window.location.origin + window.location.pathname + "?searchkey=" + searchKey;
            
        });
    });
</script>
