@model IEnumerable<IBS.Core.Models.CarrierModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 form-group">
        
        <input type="text" class="form-control-new" id="txtSearchText" style="width:70%" />
        <a id="anchCarrierSearch"><img src="/content/images/search-icon.png" /></a>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <input id="btnActive" type="submit" value="Active" class="btn btn-success" onclick="SetActiveStatus('Active')" />
        <input id="btnInActive" type="submit" value="InActive" class="btn btn-warning" onclick="SetActiveStatus('InActive')"/>
        <input id="btnAll" type="submit" value="All" class="btn btn-primary" onclick="SetActiveStatus('None')"/>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">

        <input id="btnAddCarrier" type="button" value="Add Carrier" class="btn btn-warning"
               onclick="location.href='@Url.Action("AddCarrier", "Carrier")';return false;"/>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                S.No
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
    {
        @Html.HiddenFor(modelItem => item.Data.Id)
        <tr>
            <td>
                @( ((Int32)1) + @item.Index )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.AddressLine1)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCarrierDetails", new { id = item.Data.Id }) |
                @Html.ActionLink("Delete", "DeleteCarrier", new { id = item.Data.Id }, new { onclick = "return confirm('Are you sure to delete?');" })
            </td>
        </tr>
    }
</table>

<script type="text/javascript"> 
    function SetActiveStatus(activeStatus) {
        var searchKey = $("#txtSearchText").val();
        window.location.href = window.location.origin + window.location.pathname + "?carrierSearchkey=" + searchKey + "&statusSearchkey=" + activeStatus;
    };
    $(document).ready(function () {

        $("#anchCarrierSearch").click(function () {
            var searchKey = $("#txtSearchText").val();
            window.location.href = window.location.origin + window.location.pathname + "?carrierSearchkey=" + searchKey;
            
        });
    });
</script>
