@model  IEnumerable<IBS.Core.Models.AddPolicyBudget>

@{
    ViewBag.Title = "AddBudget";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="row col-md-12">
        <h2>
            Policy Budget
        </h2>
        <hr />
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <b>Client</b><span class="hash-redcolor">*</span><br />
                @Html.DropDownList("dlClients",
                new SelectList(ViewBag.Clients, "Id", "Name"),
                "-- Please select a client --", new { @class = "ibs-input ibs-border" }
                )
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <b>Year</b><span class="hash-redcolor">*</span><br />

                @Html.DropDownList("ddlYears",
               new SelectList(ViewBag.Years, "Id", "Name"),
               "-- Please select a year --", new { @class = "ibs-input ibs-border" }
               )



            </div>
        </div>

    </div>

    <div>
        <div>
            <input id="btnSearchPolicy" onclick="Search()" type="button" value="Search" class="btn btn-success margin-tb-20" />
        </div>
    </div>

    <table class="table table-bordered table-hover responsive">
        <thead class="thead-dark lbl-grid-head">
            <tr>
                <th>
                    Client
                </th>
                <th>
                    Policy
                </th>
                <th>
                    Carrier
                </th>
                <th>
                    Product
                </th>
                <th>
                    Carrier
                </th>
                <th>
                    JAN
                </th>
                <th>
                    FEB
                </th>
                <th>
                    March
                </th>
                <th>
                    April
                </th>
                <th>
                    May
                </th>
                <th>
                    June
                </th>
                <th>
                    July
                </th>
                <th>
                    August
                </th>
                <th>
                    September
                </th>
                <th>
                    October
                </th>
                <th>
                    November
                </th>
                <th>
                    December
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr @*class="lbl-grid"*@>
                <td>
                    <label>@item.ClientName</label>
                </td>
                <td>
                    <label>@item.PolicyNumber</label>
                </td>
                <td>
                    <label>@item.Coverage</label>
                </td>
                <td>
                    <label>@item.Product</label>
                </td>
                <td>
                    <label>@item.CarName</label>
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.JanBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.FebBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.MarchBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.AprilBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.MayBudget, new { style = " width:70px; ", @class = "floatnon" })

                </td>
                <td>
                    @Html.TextBoxFor(midel => item.JunBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>

                <td>
                    @Html.TextBoxFor(midel => item.JulyBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.AugBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.SepBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.OctBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.NovBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    @Html.TextBoxFor(midel => item.DecBudget, new { style = " width:70px; ", @class = "floatnon" })
                </td>
                <td>
                    <label id="lblTotal">@item.TotalBudget</label>
                </td>
                <td>
                    <a id="anchPrefill" href="javascript:void(0);">Auto Fill</a>
                </td>

            </tr>
            }
        </tbody>

    </table>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input id="btnSave" type="submit" value="Save" class="btn btn-success" onclick="addBudget()" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function Search() {
            var dlClients = $("#dlClients").val();
            var ddlYears = $("#ddlYears").val();

            if (ddlYears == "" || dlClients == "") {
                alert("client and year both mandatory");
                return;
            }

            window.location.href = window.location.origin + window.location.pathname + "?clientId=" + dlClients + "&year=" + ddlYears + "&policyId=0&ClientPolicyId=0";
        };

        $(document).ready(function () {

            $("#anchPrefill").click(function () {
               
                var janBudget = $("#item_JanBudget").val();
                $("#item_FebBudget").val(janBudget);
                $("#item_MarchBudget").val(janBudget);
                $("#item_AprilBudget").val(janBudget);
                $("#item_MayBudget").val(janBudget);
                $("#item_JunBudget").val(janBudget);
                $("#item_JulyBudget").val(janBudget);
                $("#item_AugBudget").val(janBudget);
                $("#item_SepBudget").val(janBudget);
                $("#item_OctBudget").val(janBudget);
                $("#item_NovBudget").val(janBudget);
                $("#item_DecBudget").val(janBudget);
                var total = parseFloat(janBudget).toFixed(2) * 12;
                total = parseFloat(total).toFixed(2);
                $("#lblTotal").text(total);
            });
        });
    </script>
}
