@model IBS.Core.Models.AddPolicyBudget

@{
    ViewBag.Title = "EditBudget";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="row col-md-12">
        <h2>
            Edit Policy Budget
        </h2>
        <hr />
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ClientName)<br />
                @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border", disabled = true } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PolicyNumber)
                @Html.EditorFor(model => model.PolicyNumber, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border", disabled = true } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Coverage)
                @Html.EditorFor(model => model.Coverage, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border", disabled = true } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Product)<br />
                @Html.EditorFor(model => model.Product, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border", disabled = true } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Year)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border", disabled = true } })

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.JanBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.JanBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.JanBudget, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.FebBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.FebBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.FebBudget, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.MarchBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.MarchBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.MarchBudget, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AprilBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.AprilBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.AprilBudget, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.MayBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.MayBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.MayBudget, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.JunBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.JunBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.JunBudget, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.JulyBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.JulyBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.JulyBudget, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AugBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.AugBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.AugBudget, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SepBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.SepBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.SepBudget, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.OctBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.OctBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.OctBudget, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.NovBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.NovBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.NovBudget, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DecBudget)<span class="hash-redcolor">*</span>
                @Html.EditorFor(model => model.DecBudget, new { htmlAttributes = new { autocomplete = "off", @class = "ibs-input ibs-border" } })
                @Html.ValidationMessageFor(model => model.DecBudget, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input id="btnSave" type="submit" value="Save" class="btn btn-success" />
                <input id="btnCancel" type="submit" value="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Policy")';return false;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="color:green">
            <div class="form-group">
                @ViewBag.Message
            </div>
        </div>
    </div>
}