@model IEnumerable<IBS.Core.Models.PolicyModel>

@{
    ViewBag.Title = "Index";
}
<div class="row col-md-12">
    <h2>
        Policies
    </h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-6 form-group">

    </div>
    <div class="col-md-6 form-group text-align-right">
        <input id="btnAddPolicy" type="button" value="Add Policy" class="btn btn-primary"
               onclick="location.href='@Url.Action("AddPolicy", "Policy")';return false;" />
    </div>
</div>

<table class="table">
    <thead class="thead-dark lbl-grid-head">
        <tr>
            <th>
                Policy Number
            </th>
            <th>
                Policy Type
            </th>
            <th>
                Effective Date
            </th>
            <th>
                End Date
            </th>
            <th>
                GroupInsurance
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
    {
        @Html.HiddenFor(modelItem => item.Data.Id)
        <tr class="lbl-grid">
            <td>
               @Html.DisplayFor(modelItem => item.Data.PolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.PolicyType)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Data.CarId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Data.EffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.IsGroupInsurance)
           </td>

           <td>
                @Html.ActionLink("Edit", "EditPolicyDetails", new { id = item.Data.Id }) |
                @*@Html.ActionLink("Delete", "DeletePolicy", new { id = item.Data.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })*@
           </td>
         </tr>
    }
</table>

