@model IEnumerable<IBS.Core.Models.PolicyBudgetsModel>

@{
    ViewBag.Title = "Index";
}
<div class="row col-md-12">
    <h2>
        Policy Budget
    </h2>
    <hr />
</div>

<div class="row col-md-12">

    <div class="col-md-6">
        <div class="form-group">
            <label>Budget Year</label>
            <select class="ibs-input ibs-border">
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
            </select>
            <input id="btnAddPolicie" type="submit" value="Search" class="btn btn-success margin-tb-20" />
        </div>
    </div>
</div>

<table class="table">
    <thead class="thead-dark lbl-grid-head">
        <tr>
            <th>
                Policy Number
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                March
            </th>
            <th>
                April
            </th>
            <th>
                May
            </th>
            <th>
                Jun
            </th>
            <th>
                July
            </th>
            <th>
                Auguest
            </th>
            <th>
                September
            </th>
            <th>
                Octomber
            </th>
            <th>
                November
            </th>
            <th>
                December
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
    {
      
    <tr class="lbl-grid">
        <td>
            @Html.LabelFor(modelItem => item.Data.PolicyName)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.JanBudget, new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.FebBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.MarchBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.AprilBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.MayBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.JunBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.JulyBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.AugBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.SepBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.OctBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.NovBudget,  new { Style = "width:80px" })
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Data.DecBudget,  new { Style = "width:80px" })
        </td>

    </tr>
    }
</table>

<script type="text/javascript">
    function Search() {
        var searchKey = $("#txtSearchText").val();
        var searchStatusKey = $("input[name='status']:checked").val();
        window.location.href = window.location.origin + window.location.pathname + "?Searchkey=" + searchKey + "&statusSearchkey=" + searchStatusKey;
    };
    $(document).ready(function () {
        var searchString = window.location.search;
        if (searchString != "") {
            var searchArray = window.location.search.substring(1).split('&');
            var carrerName = searchArray[0].split('=');
            var status = searchArray[1].split('=');
            $("#txtSearchText").val(carrerName[1]);
            var name = "status";
            $('input[name="' + name + '"][value="' + status[1] + '"]').prop('checked', true);
        }
    });
</script>