@model IBS.Core.Models.PolicyModel

@{
    ViewBag.Title = "ViewPolicy";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="row col-md-12">
        <h2>
            View Policy
        </h2>
        <hr />
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.HiddenFor(model => model.IsActive)
                @Html.LabelFor(model => model.PolicyNumber)<br />
                @Html.DisplayFor(model => model.PolicyNumber, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.EffectiveDate)<br />
                @Html.DisplayFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.EndDate)<br />
                @Html.DisplayFor(model => model.EndDate, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.IsGroupInsurance)<br />
                @Html.DisplayFor(model => model.IsGroupInsurance, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Carrier</label><br />
                @Html.DisplayFor(model => model.SelectedCarrier.Name, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Coverage</label><br />
                @Html.DisplayFor(model => model.SelectedCoverage.Name, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Product</label><br />
                @Html.DisplayFor(model => model.SelectedProduct.Name, new { htmlAttributes = new { @class = "ibs-input ibs-border" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input id="btnCancel" type="submit" value="Cancel" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Policy")';return false;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="color:green">
            <div class="form-group">
                @ViewBag.Message
            </div>
        </div>
    </div>
    @*<div>
        @Html.ActionLink("Back to Policy List", "Index")
    </div>*@
}